---
layout: page
title: Getting Started
description: The getting started page should provide information for how to get up and running with the design system.
---

## Downloading
Provide links and information for downloading the design system's files:

<div><a href="{{ "/downloads.html" | prepend: site.baseurl }}" class="c-btn">Download Design System Files</a></div>

## File Structure
Provide an overview of the file system structure and how users of the design system should integrate the design system's code into their project. This info will obviously vary depending on your organization's environment(s).

```
design-system-1.0/
├── css/
│   ├── design-system-1.0.css
│   ├── design-system-1.0.min.css
├── fonts/
│   └── [design system web fonts]
├── images/
│   ├── design-system-icons.svg
└── js/
│   ├── design-system-1.0.js
│   └── design-system-1.0.min.js
└── [additional files]
```

## Creating pages and using components
Provide information on how to properly link up design system files in order to create a basic "hello world" template. From there, describe the process of incorporating design system's components into the project. Again, this will undoubtedly vary based on the setup and technologies your organization utilizes.

## Code conventions
Provide a link to learn more about <a href="{{ "/foundations/code.html" | prepend: site.baseurl }}">code conventions</a>.

## Support and Community
Provide information on where people can go to <a href="{{ "/support.html" | prepend: site.baseurl }}">ask for help</a>, and provide a link to the <a href="{{ "/contribute.html" | prepend: site.baseurl }}">contribution page</a> to help plant tback to the system.
