<footer class="c-footer" role="contentinfo">

    <ul class="c-footer-nav">

        <li class="c-footer-nav__item">
            <a href="{{ "/about.html" | prepend: site.baseurl }}" class="c-footer-nav__link">About</a>
        </li><!--end c-footer-nav__item-->

        <li class="c-footer-nav__item">
            <a href="{{ "/" | prepend: site.baseurl }}" class="c-footer-nav__link">Issue tracker</a>
        </li><!--end c-footer-nav__item-->

        <li class="c-footer-nav__item">
            <a href="{{ "/" | prepend: site.baseurl }}" class="c-footer-nav__link">Repository</a>
        </li><!--end c-footer-nav__item-->

        <li class="c-footer-nav__item">
            <a href="{{ "/contribute.html" | prepend: site.baseurl }}" class="c-footer-nav__link">Contribute</a>
        </li><!--end c-footer-nav__item-->

    </ul><!--end c-footer-nav-->

</footer><!--end c-footer-->

<script src="{{ "/js/vendor/jquery-3.1.0.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/prism.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/iframe-resizer.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/clipboard.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/style-guide.js" | prepend: site.baseurl }}"></script>
