<h3 class="c-logo">

	<a href="{{ "/" | prepend: site.baseurl }}" class="c-logo__link" rel="home">

	<svg id="PJs" class="c-logo__img" width="27" height="48" fill="none" xmlns="http://www.w3.org/2000/svg">
		<title>{{ site.title }}</title>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M10.335 47.854L4.536 44.7A8.709 8.709 0 010 37.074v-13.4h11.966v23.205a1.09 1.09 0 01-1.08 1.12 1.087 1.087 0 01-.551-.145z" fill="#DEC9F0"/><path fill-rule="evenodd" clip-rule="evenodd" d="M17.868 31.186L2.589 34.998C0 35.657 0 36.746 0 36.746V14.741c0-2.43.812-4.79 2.305-6.704A10.877 10.877 0 018.24 4.173L24.754.033a1.087 1.087 0 011.354 1.09v19.511a10.904 10.904 0 01-2.31 6.694 10.876 10.876 0 01-5.93 3.858z" fill="url(#paint0_linear)"/><defs><linearGradient id="paint0_linear" x1="0" y1="18.379" x2="26.108" y2="18.379" gradientUnits="userSpaceOnUse"><stop stop-color="#7144C6"/><stop offset=".59" stop-color="#8045C9"/><stop offset="1" stop-color="#8E46CC"/></linearGradient></defs></svg><!--end .c-header__logo-->

	</a><!--end c-logo__link-->

</h3><!--end c-logo-->
