<li class="c-primary-nav__subitem {% if page.subgroup == include.subgroup %}is-active{% endif %}">

	<a class="c-primary-nav__sublink {% if include.subgroup %}c-primary-nav__sublink--has-children js-nav-dropdown-trigger{% endif %} {% if page.url == include.path %}is-active is-current{% endif %} {% if page.subgroup == include.subgroup %}is-active{% endif %}" href="{% if include.subgroup %}#{% else %}{{ include.path | prepend: site.baseurl}}{% endif %}">

		<span class="c-primary-nav__text">{{ include.label }}</span>

		{% if include.subgroup %}
		<svg class="c-icon c-primary-nav__subicon" aria-hidden="true">
			<use href="{{ "/icons.svg#chevron-gl" | prepend: site.baseurl }}"></use>
		</svg>
		{% endif %}
	</a><!--end c-primary-nav__link-->

	{% if include.subgroup %}
	{% include primary-nav-submenu.html subgroup=include.subgroup %}
	{% endif %}

</li><!-- end c-primary-nav__item-->
